body {
  background: lightblue;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  background: darkblue;
  color: white;
  font-size: 1.3rem;
  padding: 15px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header ul {
  display: flex;
  gap: 30px;
}

ul.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  font-size: 1.3rem;
  font-weight: 700;
}

.header li:hover {
  cursor: pointer;
}

li.current {
  color: red;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.main p {
  font-size: 1.2rem;
  padding: 20px 0px;
  text-align: center;
  width: 700px;
}

.footer {
  background: darkblue;
  color: white;
  text-align: right;
  padding: 5px 15px;
}
